@model ErrorViewModel

@{
    ViewData["Title"] = "Error";
}

<div class="container mt-5">
    <h1 class="text-danger">Error @Model.StatusCode</h1>
    <h2 class="text-danger">@Model.ErrorMessage</h2>
    <p>Request ID: <code>@Model.RequestId</code></p>
    <a href="/" class="btn btn-primary">Return to Home</a>
</div>